body {
    margin: 0;
    padding: 0;
}

.scrollable {
    overflow: auto;
}  

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 40px 1fr auto;
    width: 100%;
    height: 100%;
}

.header {
    background-color: aqua;
    grid-column: 2 / 4;
    grid-row: 1 / 1;
}

.main-content {
    background-color: chartreuse;
    overflow: auto;
    grid-column: 2 / 2;
    grid-row: 2 / 4;
}

.left-sidebar {
    background-color: darkorange;
    grid-column: 1 / 1;
    grid-row: 1 / 4;
}

.right-sidebar {
    background-color: deepskyblue;
    grid-column: 3 / 3;
    grid-row: 2 / 4;
}

.footer {
  background-color: darkblue;
  color: white;
  grid-column: 1 / 4;
}